<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--通过这个配置文件，完成mybatis与数据库的连接  -->
<configuration>

    <!--<settings>-->
        <!-- 设置日志输出为LOG4J 在application.properties中配置-->
        <!--<setting name="logImpl" value="LOG4J2" />-->
        <!--将以下画线方式命名的数据库列映射到 Java 对象的驼峰式命名属性中-->
        <!--<setting name= "mapUnderscoreToCamelCase" value="true" />-->
    <!--</settings>-->

    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
    </typeAliases>

</configuration>